:root {
  background-color: gainsboro;
}

.main {
  margin-top: 50vh;
  margin-bottom: 100vh;
}

.container {
  text-align: center;
  height: 300vh;
  background-color: bisque;
  position: relative;
  .sticky {
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100vh;
    background-color: antiquewhite;
    .el {
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      .image-container {
        position: relative;
        width: 25vw;
        height: 25vh;
        background-color: purple;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}